---
layout: container
title: Fakultäten
---

<div class="card-columns">
  {% assign fks = site.data.keys_key0.dataroot.keys_key0 | sort: "nummer" | where_exp: "item", "item.nummer < '20'" %}
  {% for fk in fks %}
  <div class="card">
    <div class="card-img-top" alt="Schmuckbild für die Karte von der Fakultät {{ fk.nummer }}"
      style="height: 120px; background-image: url('{{ site.url }}/assets/img/fk{{ fk.nummer }}.jpg'); background-repeat: no-repeat; background-position: right; background-size: cover">
    </div>
    <!-- <img src="{{ site.url }}/assets/img/fk{{ fk.nummer }}.jpg" class="card-img-top" alt="Schmuckbild für die Karte von der Fakultät {{ fk.nummer }}"> -->
    <div class="card-body">
      <h5 class="card-title">FAKULTÄT {{ fk.nummer | format: "%02d" }}<br>{{ fk.fachrich }}</h5>
      <p class="card-text">…</p>
      <p class="card-text">Angebotene Bachelor-Studiengänge</p>
    </div>
    {% assign stgs = site.data.sit.dataroot.SIT | where:"nummer", fk.nummer | where: "aaspf_echt", "B" | sort: "fachrich" %}
    <small>
      <ul class="list-group list-group-flush">
        {% for stg in stgs %}
        <li class="list-group-item" title="{{ stg.stg }}&#8209;{{ stg.aaspf_echt }}">{% if stg.url_echt != '' %}<a href="{{ stg.url_echt }}" class="text-body" target="_blank" title="Zur Webseite des Studiengangs {{ stg.fachrich }}">{{ stg.fachrich }}</a>{% else %}{{ stg.fachrich }}{% endif %}</li>
        {% endfor %}
      </ul>
    </small>
    <!-- <div class="card-body">
      <p class="card-text">Angebotene Master-Studiengänge</p>
    </div>
    {% assign stgs = site.data.sit.dataroot.SIT | where:"nummer", fk.nummer | where: "aaspf_echt", "M" | sort: "fachrich" %}
    <small>
      <ul class="list-group list-group-flush">
        {% for stg in stgs %}
        <li class="list-group-item" title="{{ stg.stg }}&#8209;{{ stg.aaspf_echt }}">{{ stg.fachrich }}</li>
        {% endfor %}
      </ul>
    </small> -->
    <div class="card-body small">
      <a href="https://www.hm.edu/fk{{ fk.nummer }}" target="_blank" class="card-link text-muted">Weiter Informationen auf Webseite der Fakultät</a>
    </div>
  </div>
  {% endfor %}
</div>

{% comment %} ---
<hr>

{% assign fks = site.data.keys_key0.dataroot.keys_key0 | sort: "nummer" | where_exp: "item", "item.nummer < '20'" %}
{% for fk in fks %}
  <h3><a href="https://www.hm.edu/fk{{ fk.nummer }}" target="_blank">FAKULTÄT {{ fk.nummer }} – {{ fk.fachrich }}</a></h3>

  {% assign stgs = site.data.sit.dataroot.SIT | where:"nummer", fk.nummer | where: "aaspf_echt", "B" | sort: "fachrich" %}

    {% for stg in stgs %}
    <h4>
      <!--{{ stg.nummer}}--> {{ stg.fachrich }} – <em>{{ stg.stg }}-{{ stg.aaspf_echt }}</em></h4>

    {% assign programme1 = site.data.programm| where:"stg", stg.stg  %}
    {% assign programme = programme1 | where:"aaspf_echt", stg.aaspf_echt  %}
    <ul>
      {% for programm in programme %}
      <li>{{ programm.name }}, {{ programm.start | date: "%H:%M" }}–{{ programm.ende | date: "%H:%M" }}&nbsp;Uhr, Raum&nbsp;{{programm.raum | replace: " ", "&nbsp;" }}</li>
      {% endfor %}
    </ul>

    {% endfor %}
{% endfor %}

<hr>

{% assign stgs = site.data.sit.dataroot.SIT | where: "aaspf_echt", "B" | where: "nummer", '10' | sort: "fachrich" %}

{% for stg in stgs %}
<h4>
  <!--{{ stg.nummer}}--> {{ stg.fachrich }} – <em>{{ stg.stg }}-{{ stg.aaspf_echt }}</em></h4>
{% endfor %}

--- {% endcomment %}
