---
layout: default
---


<h1>Home</h1>
<p>Eine private Webseite</p>

<h2>FORMULAR</h2>
<form name="contact" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

<h2>VORTRÄGE</h2>
  
  <ol>
{% for vortraege in site.data.programmfk %}
  {% if vortraege['vortraege'].size %}
    {% assign vortraegeSort = vortraege['vortraege'] | sort: 'start' %}
    {% for vortrag in vortraegeSort %}
      <li><b>{{ vortrag.start | date: "%H:%M" }}&nbsp;Uhr</b> {{ vortrag.titel }}</li>
    {% endfor %}
  {% endif %}
    KEIEN Vorträge in FK {{ vortraege.nummer }}
{% endfor %}
</ol>
