---
layout:
title: Tristan Germer
image-background: https://images.pexels.com/photos/287263/pexels-photo-287263.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
<!-- background-image: https://imageflow.rausgegangen.de/url/https%3A//s3.eu-central-1.amazonaws.com/rausgegangen/vuGYd5dSzSgtvvfM6hwz_01-pdmjpg?width=1200&height=900&mode=crop -->
image-me: /assets/img/me-removebg.png
---

<!DOCTYPE html>
<html lang="{% if page.lang == 'de' %}de{% else %}en{% endif %}" data-bs-theme="auto">
{% include head.html %}

<body>

    <div class="cover-container d-flex w-100 vh-100 mx-auto flex-column">
        <!-- Unscharfer Hintergrund -->
        <div class="background-blur overflow-hidden" style="background-image: url('{{ page.image-background }}'); 
           background-size: cover; 
           background-position: center; 
           filter: blur(20px); 
           position: absolute; 
           top: 0; 
           left: 0; 
           width: 100%; 
           height: 100%; 
           z-index: -1;">
        </div>
        <div class="bg-body" style="
           position: absolute; 
           top: 0; 
           left: 0; 
           width: 100%; 
           height: 100%; 
           z-index: -1;
           opacity: .1;">
        </div>

        <!-- Scharfe Inhalte -->
        {% include nav.html %}
        {% include color-modes.html %}
         <main style="height: 100%;">
            <div class="container h-100 d-flex align-items-center justify-content-center text-white">
                <div class="row align-items-center">
                    <!-- Bild -->
                    <div class="col-lg-4 mb-3 order-lg-last text-lg-end text-center d-block d-lg-none">
                        <img src="{{ page.image-me }}" alt="Tristan Germer"
                            class="img-fluid w-50 bg-gradient" style="border-radius: 30% 70% 70% 30% / 30% 22% 78% 70%;">
                    </div>
                    <div class="col-lg-4 mb-3 order-lg-last text-lg-end text-center d-none d-lg-block">
                        <img src="{{ page.image-me }}" alt="Tristan Germer"
                            class="img-fluid w-100 bg-gradient" style="border-radius: 30% 70% 70% 30% / 30% 22% 78% 70%;">
                    </div>
                    <!-- Text -->
                        <div class="col-lg-8 text-center text-lg-start mb-5">
                            <h1 class="display-2" style="text-shadow: #000 0px 0 5px;">Tristan Germer</h1>
                            <p class="lead-lg" style="text-shadow: #000 0px 0 5px;">Technik-Enthusiast, Innovationsgeist und designaffin. Ich vereine Kreativität, modernes Design und Technologie, um einzigartige Lösungen zu schaffen.</p>
                            <a href="/portfolio" class="btn btn-primary me-2 mt-2">Meine Projekte ansehen</a>
                            <a href="/about" class="btn btn-outline-light mt-2">Mehr über mich</a>
                        </div>
                    
                </div>
            </div>
         </main>
        
    </div>
    {% include footer.html %}

    <style>
        .img-fluid {
    transition: transform 0.3s ease-in-out; /* Übergang für die Vergrößerung */
        }

        .img-fluid:hover {
            transform: scale(1.08); /* Vergrößerung */
        }
    </style>

</body>

</html>