// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


// $primary: #cc0000; // HM-Rot

body {
  padding-top: 80px;
}

footer {
  background-color: $gray-200; //#eee;
  padding-top: 20px;
  padding-bottom: 0;
}

.copyright {
  background-color: $gray-300; //rgba(0, 0, 0, .1);
  padding: 10px 0 2px;
}
