{% for furtherEducation in site.data.cv_en.furtherEducation %}
<div class="row mt-3">
  <div class="col-md-4 col-lg-3 col-xl-2">
    <p class="mb-0 mt-1">
      {% if furtherEducation.endDate == furtherEducation.startDate %}
          {{ furtherEducation.startDate | date: "%m/%Y" }}
        {% elsif furtherEducation.endDate == nil %}
          since {{ furtherEducation.startDate | date: "%m/%Y" }}
        {% else %}
          {{ furtherEducation.startDate | date: "%m/%Y" }}–{{ furtherEducation.endDate | date: "%m/%Y" }}
      {%endif%}
    </p>
  </div>
  <div class="col-md-8 col-lg-9 col-xl-10">
    <h4>
      {% if furtherEducation.degree != nil %}{{ furtherEducation.degree }}, {% endif %}{{ furtherEducation.fieldOfStudy }}
      {% if furtherEducation.majorFieldOfStudy != nil %}
      – {{ furtherEducation.majorFieldOfStudy }}{% endif %}
    </h4>
    <p>
      {{ furtherEducation.school | upcase }}
      {% if furtherEducation.schoolUrl != nil %}
      <br>
      <a href="http://{{ furtherEducation.schoolUrl }}" target="_blank">{{ furtherEducation.schoolUrl }}</a>{% endif %}
    </p>
    <p>
      {% if furtherEducation.thesis.title != nil %}
      Thesis: {{ furtherEducation.thesis.title }}
      {% if furtherEducation.thesis.fullTextUrl != nil %}
      <br><small>Full text: <a href="http://{{ furtherEducation.thesis.fullTextUrl }}" target="_blank">{{ furtherEducation.thesis.fullTextUrl }}</a></small>
      {% endif %}
      {% endif %}
    </p>
    <hr>
  </div>
</div>
{% endfor %}
