{% for furtherEducation in site.data.cv_de.furtherEducation %}
<div class="row mt-3">
  <div class="col-md-4 col-lg-3 col-xl-2">
    <p class="mb-0 mt-1">
      {% case furtherEducation.endDate %}
      {% when furtherEducation.startDate %}
      {{ furtherEducation.startDate | date: "%m/%Y" }}
      {% when nil %}
      seit {{ furtherEducation.startDate | date: "%m/%Y" }}
      {% else %}
      {{ furtherEducation.startDate | date: "%m/%Y" }}–{{ furtherEducation.endDate | date: "%m/%Y" }}
      {% endcase %}
    </p>
  </div>
  <div class="col-md-8 col-lg-9 col-xl-10">
    <h4>
      {{ furtherEducation.degree }}{% if furtherEducation.degree %}, {% endif %}{{ furtherEducation.fieldOfStudy }}
      {% if furtherEducation.majorFieldOfStudy %}
      – {{ furtherEducation.majorFieldOfStudy }}
      {% endif %}
    </h4>
    <p>
      {% if furtherEducation.schoolUrl %}
      <a href="http://{{ furtherEducation.schoolUrl }}" target="_blank">{{ furtherEducation.school | upcase }}</a>
      {% else %}
      {{ furtherEducation.school | upcase }}
      {% endif %}
    </p>
    {% if furtherEducation.certificateUrl %}
    <p>
      <a href="{{ furtherEducation.certificateUrl }}" target="_blank" class="btn btn-outline-secondary btn-sm">Nachweis
        anzeigen</a>
    </p>
    {% endif %}
    {% if furtherEducation.thesis.title %}
    <p>
      Thesis: {{ furtherEducation.thesis.title }}
      {% if furtherEducation.thesis.fullTextUrl %}
      <br><small>Volltext: <a href="http://{{ furtherEducation.thesis.fullTextUrl }}" target="_blank">{{
          furtherEducation.thesis.fullTextUrl }}</a></small>
      {% endif %}
    </p>
    {% endif %}
    <hr>
  </div>
</div>
{% endfor %}