<!--	OpenGraph -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://portal.hm.edu/studieninformationstag/index.html" />
<meta property="og:title" content="{{ site.title }}, "{{ site.slogan }}" am {% include date.html %} an der {{ site.company }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="de_DE" />
<meta property="og:description"
  content="{{ site.description }}" />
<meta property="og:image" content="https://portal.hm.edu/studieninformationstag/img/FB_01_1200x630.png" />
<!--	END OpenGraph -->
