{%- if site.facebook_username != nil -%}
<a href="http://www.facebook.com/{{ site.facebook_username }}" target="_blank" title="{{ site.facebook_username }}"><i class="fab fa-facebook-f fa-fw fa-lg"></i></a>
{% endif %}
{%- if site.instagram_username != nil -%}
<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" title="{{ site.instagram_username }}"><i class="fab fa-instagram fa-fw fa-lg"></i></a>
{% endif %}
{%- if site.twitter_username != nil -%}
<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="{{ site.twitter_username }}"><i class="fab fa-twitter fa-fw fa-lg"></i></a>
{% endif %}
{%- if site.linkedin_username != nil -%}
<a href="https://www.linkedin.com/school/{{ site.linkedin_username }}" target="_blank" title="{{ site.linkedin_username }}"><i class="fab fa-linkedin-in fa-fw fa-lg"></i></a>
{% endif %}
{%- if site.youtube_username != nil -%}
<a href="https://www.youtube.com/user/{{ site.youtube_username }}" target="_blank" title="{{ site.youtube_username }}"><i class="fab fa-youtube fa-fw fa-lg"></i></a>
{% endif %}
<a href="http://mastermacher.hm.edu/" target="_blank" title="Die Mastermacher"><i class="fas fa-blog fa-fw fa-lg"></i></a>
