# Vorträge unsortiert bzw. nach Fakultäten, so wie sie in programmfk.yml stehen.

{% for vortrag1 in site.data.programmfk %}
{% for vortrag in vortrag1['vortraege'] %}
<div class="card mb-3" style="max-w idth: 840px;">
  <div class="row no-gutters">
    <div class="col-md-2">
      <div class="card-body text-primary text-center" title="{{ vortrag.start | date: "%H:%M" }}{% if vortrag.ende != nil %}–{{ vortrag.ende | date: "%H:%M" }}&nbsp;Uhr{% endif %}">
        <span class="d-none d-md-block">
          <h3>{{ vortrag.start | date: "%H:%M" }}
            <br>
            <small>{% if vortrag.ende != nil %}–<br>{{ vortrag.ende | date: "%H:%M" }}{% endif %}</small>
          </h3>
        </span>
        <span class="d-block d-md-none">
          <h3>{{ vortrag.start | date: "%H:%M" }}
            {% if vortrag.ende != nil %}–{{ vortrag.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr
          </h3>
        </span>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card-body text-center text-md-left">
        <h5 class="card-title">{{ vortrag.titel }}</h5>
        <p class="card-text text-muted">Ein Vortrag der Fakultät&nbsp;{{ vortrag1.nummer }} – {{ vortrag1.titel }}</p>
        <p class="card-text text-muted"><i class="fas fa-map-marker-alt"></i>&nbsp;{{ vortrag.raum | join: " & " }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
