---
layout: container
title: Infostände
---

<p>Erfahren Sie auf unseren Infoständen mehr zu den Themen Bewerbung, Förderung und Finanzierung, Entrepreneurship, Studium im Ausland, Angagement im Studium, Studentische Projekte und weitere Kooperationspartner, wie Angentur für Arbeit, Hochschulgemeinden, Wohnheime und das Studentenwerk München.</p>

<div class="text-center">
{% for infostaendeGruppen in site.data.infostaende %}
  <h3 class="text-primary mt-5">{{ infostaendeGruppen.title }}</h3>
  <p class="mb-5"><span class="text-primary">&#10217;</span>&nbsp;{{ infostaendeGruppen.raum }}
  {% for infostand in infostaendeGruppen.items %}
    <h5>{{ infostand.title }}</h5>
    {% if infostand.subtitle != nil %}
    <p class="lead"> {{ infostand.subtitle }}
    {% endif %}
    {% if infostand.link != nil %}
    <p><span class="text-primary">&#10217;</span>&nbsp;<a href="{{ infostand.link }}" class="text-muted" target="_blank" title="{{ infostand.title }}">{{ infostand.link | remove: "https://" | remove: "http://" }}</a></p>
    {% endif %}
    <hr>
  {% endfor %}
{% endfor %}
</div>
