---
layout: container
title: Programm der Fakultäten
---

{% assign fkSort = site.data.programmfk | sort: "nummer" %}
{% for fk in fkSort %}
<h2 style="line-height:1; margin-top:20px"><a href="https://www.hm.edu/fk{{fk.nummer}}" target="_blank" title="Weiter Informationen auf der Webseite der Fakultät für {{ fk.titel }}">Fakultät&nbsp;{{ fk.nummer }} <small>{{ fk.titel }}</small></a></h2>
<h4>Infostand <span class="text-primary">&#10217;</span> <small>{{ fk.infostand}}</small></h4>
<h4>Gespräch mit Studieninteressierten <span class="text-primary">&#10217;</span> <small>{{ fk.gespraech.start | date: "%H:%M" }}{% if fk.gespraech.ende != nil %}–{{ fk.gespraech.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr</small></h4>
{% if fk.gespraech.punkte != nil %}
<ul>
  {% for punkte in fk.gespraech.punkte %}
  <li>{{ punkte }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if fk.praesentation.start != nil %}
<h4>Präsentation von Praxisprojekten <span class="text-primary">&#10217;</span> <small>{{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr</small></h4>
{% if fk.praesentation.punkte != nil %}
<ul>
  {% for punkte in fk.praesentation.punkte %}
  <li>{{ punkte }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}

{% if fk.vortraege != nil %}
<h4>Vorträge
  <!-- &#10217; {{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr -->
</h4>
<ul>
  {% assign vortaegeSort = fk.vortraege | sort: "start" %}
  {% for vortrag in vortaegeSort %}
  <li>{{ vortrag.titel }}<br>{{ vortrag.start | date: "%H:%M" }}{% if vortrag.ende != nil %}–{{ vortrag.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr <span class="text-primary">&#10217;</span>&nbsp;Raum:&nbsp;{{ vortrag.raum | join: " & " }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if fk.fuehrungen != nil %}
<h4>(Labor-)Führungen
  <!-- &#10217; {{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr -->
</h4>
<ul>
  {% assign fuehrungenSort = fk.fuehrungen | sort: "start" %}
  {% for fuehrung in fuehrungenSort %}
  <li>{{ fuehrung.titel }}<br>{{ fuehrung.start | date: "%H:%M" }}{% if fuehrung.ende != nil %}–{{ fuehrung.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr <span
      class="text-primary">&#10217;</span>&nbsp;Treffpunkt:&nbsp;{{ fuehrung.treffpunkt | join: " & " }}</li>
  {% endfor %}
</ul>
{% endif %}

<hr>
{% endfor %}

<hr>

<p><a class="btn btn-default btn-sm openall" style="cursor: pointer;">alle aufklappen</a> <a class="btn btn-default btn-sm closeall" style="cursor: pointer; display: none;">alle schließen</a>
  <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
</p>

<div class="accordion" id="accordionExample">
  {% assign fkSort = site.data.programmfk | sort: "nummer" %}
  {% for fk in fkSort %}
  <div class="card bg-light">
    <div class="card-header" id="heading{{ fk.nummer }}">
      <!-- <h2 class="mb-0"> -->
      <button class="btn btn-link collapesed" type="button" data-toggle="collapse" data-target="#collapse{{ fk.nummer }}" aria-expanded="true" aria-controls="collapse{{ fk.nummer }}">
        Fakultät&nbsp;{{ fk.nummer }} <small>{{ fk.titel }}</small>
      </button>
      <!-- </h2> -->
    </div>

    <div id="collapse{{ fk.nummer }}" class="collapse" aria-labelledby="heading{{ fk.nummer }}" data-parent="#accordionExample">
      <div class="card-body">
        <h4 class="card-title">Infostand <span class="text-primary">&#10217;</span> <small>{{ fk.infostand}}</small></h4>
        <h4 class="card-title">Gespräch mit Studieninteressierten <span class="text-primary">&#10217;</span>
          <small>{{ fk.gespraech.start | date: "%H:%M" }}{% if fk.gespraech.ende != nil %}–{{ fk.gespraech.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr</small></h4>
        {% if fk.gespraech.punkte != nil %}
        <ul>
          {% for punkte in fk.gespraech.punkte %}
          <li>{{ punkte }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if fk.praesentation.start != nil %}
        <h4 class="card-title">Präsentation von Praxisprojekten <span class="text-primary">&#10217;</span>
          <small>{{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr</small></h4>
        {% if fk.praesentation.punkte != nil %}
        <ul>
          {% for punkte in fk.praesentation.punkte %}
          <li>{{ punkte }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

        {% if fk.vortraege != nil %}
        <h4 class="card-title">Vorträge
          <!-- &#10217; {{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr -->
        </h4>
        <ul>
          {% assign vortaegeSort = fk.vortraege | sort: "start" %}
          {% for vortrag in vortaegeSort %}
          <li>{{ vortrag.titel }}<br>{{ vortrag.start | date: "%H:%M" }}{% if vortrag.ende != nil %}–{{ vortrag.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr <span class="text-primary">&#10217;</span>&nbsp;Raum:&nbsp;{{ vortrag.raum | join: " & " }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if fk.fuehrungen != nil %}
        <h4 class="card-title">(Labor)führungen
          <!-- &#10217; {{ fk.praesentation.start | date: "%H:%M" }}{% if fk.praesentation.ende != nil %}–{{ fk.praesentation.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr -->
        </h4>
        <ul>
          {% assign fuehrungenSort = fk.fuehrungen | sort: "start" %}
          {% for fuehrung in fuehrungenSort %}
          <li>{{ fuehrung.titel }}<br>{{ fuehrung.start | date: "%H:%M" }}{% if fuehrung.ende != nil %}–{{ fuehrung.ende | date: "%H:%M" }}{% endif %}&nbsp;Uhr <span
              class="text-primary">&#10217;</span>&nbsp;Treffpunkt:&nbsp;{{ fuehrung.treffpunkt | join: " & " }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <a href="https://www.hm.edu/fk{{ fk.nummer }}" target="_blank" class="btn btn-outline-primary btn-sm">Zur Webseite der Fakultät {{ fk.nummer }}</a>
      </div>
      <!-- <div class="card-footer text-muted">
        2 days ago
      </div> -->
    </div>
  </div>
  {% endfor %}
</div>
